body {
	margin: 0 0 1em 0;
	padding: 0;
	color: black;
	background-color: #eee;
	line-height: 130%;
	font-family: arial, helvetica, verdana, tahoma, sans-serif;
	text-align: center;
}

#wrapper-header {	
	background: #222; 
}

#header {
	position: relative;
	background: #fff url('images/woko_logo.png') left no-repeat;
	width: 75%;
	height: 85px;
	line-height: 50px;
	margin: 0 auto;
	border-left: 1px solid #707070;
	border-right: 1px solid #707070;
	text-align: left;
}

#header h1 {
	margin: 0;
	padding: 0;
	color: #eee;
	font-size: 220%;
	padding-left: 10px;
	letter-spacing: -1px;
}

#wrapper-menu {
	background: #88ac0b url('images/menu-background.png') top left repeat-x;
	float: left;
	width: 100%;
}

#menu {
	width: 75%;
	margin: 0 auto;
	font-size: 95%;
	white-space: nowrap; /* stops half a menu link dropping to next line. Instead, the whole link will drop. This only happens if you have a lot of menu links, and large text size */
	padding-right: 2px;	/* The menu far left, and far right borders are not quite lining up in non IE browsers for some reason. This makes it less noticable */
	text-align: right;
	position: relative;
}
* html #menu { padding-right: 0; } /* See above comment. This re-adjusts IE to the above padding */

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	border-left: 1px solid #95bc0e;
	border-right: 1px solid #95bf0f;
	width: 100%;
}

#menu li { display: inline; }

#menu .menuRight {
	position: absolute;
	right: 0;
}

#menu a:link, #menu a:visited, #menu .menuItem {
	padding: 0.25em 1em;
	background: transparent;
	color: #fff;
	text-decoration: none;
	float: left;
	border-right: 1px solid #95bc0e;
}

#menu .menuItem {
	color: black;
}

#menu a:hover {
	background: #b6e41c url('images/menu-hover.png') repeat-x;
	color: #485b06;
}

#content {
	width: 73%; /* 73% because it has 1% padding on each side, which brings it to 75% wide */
	margin: 0 auto;
	padding: 3.5em 1% 20px 1%;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	background: white;
	font-size: 90%;
	text-align: left;
}

* html #content { padding-top: 1.8em; } /* Set padding top in IE to 20px */

#footer {
	margin: 0 auto;
	padding: 2px 1%;
	width: 73%;
	text-align: right;
/*	color: whitements[i].id; */
/*	letter-spacing: 0.15em; */
	background: #88ac0b url('images/menu-background.png') top left repeat-x;
	border: 1px solid #a0c80e;
/*	font-size: 80%; */
}

h2 {
	color: #666;
	padding-bottom: 3px;
	border-bottom: 1px solid #a0c80e;
	font-size: 150%;
	letter-spacing: -1px;
}

a:link, a:visited {
	color: #260;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

p { margin-left: 1em; }

div.messages {
	background: #DDDDEF; 
	border: 1px solid #EEEEFF;
	-moz-border-radius: 8px;
	padding-left: 10px;
}

ul.messages {
  list-style: none;
  background: url(images/message.png) left center no-repeat;
  color: #7777DD;
  padding-left: 25px;
}


div.errors {
	background: #EFDDDD; 
	border: 1px solid #FFEEEE;
	-moz-border-radius: 8px;
	padding-left: 10px;
	
}

ul.errors {
  list-style: none;
  background: url(images/error.png) left center no-repeat;
  color:#b72222; 
  padding-left: 25px;
  font-weight: bold;
}

input.error, textarea.error {
    color: red;
    border: 2px dotted #b72222;    
    background-color: #EFDDDD;
}

input.error[type="radio"], input.error[type="checkbox"], select.error {
    color: red;
	background-color: #EFDDDD;
    border: 2px dotted #b72222;    
}

#searchBox {
	font-size: 0.8em;
	position: absolute ;
	right: 10px;
	top: 0;
}

#searchBox input {
	font-size: 0.9em;
}

table.properties th {
/*  background-color: #F5F5F5; */
  font-weight: bold;
  text-align: right;
}

.properties td {
	text-align: left;
/*	background-color: #FAFAFA; */
}

.noteMacro { 
   background: url(images/lightbulb_on.gif) left center no-repeat;
	border-style: dotted; 
	border-width: 1px; 
	border-color: #F0C000;
    text-align:left; 
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 30px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.objectLinks {
	float: right;
	min-height: 18px;
	padding: 5px;
}

.editLink {
  background: url(images/edit.png) left center no-repeat;
  padding-left: 18px;
}

.deleteLink {
  background: url(images/delete_obj.gif) left center no-repeat;
  padding-left: 18px;
}

.feedLink {
  background: url(images/feeds.png) left center no-repeat;
  padding-left: 18px;
  margin-left: 10px;
}


.browsed-object {
	padding: 10px;
	background-color: #F6F6F6;
	-moz-border-radius: 16px;
}

.edited-object {
	padding: 10px;
	background-color: #F6F6F6;
	-moz-border-radius: 16px;
}

.login-form {
	margin: 10 auto 0 auto;
	width:60%;
	padding: 5px;
	background-color: #F6F6F6;
	-moz-border-radius: 16px;
}

#logout {
	font-size: 0.8em;
	position: absolute ;
	right: 10px;
	top: 30px;
	padding: 1px;
}

.sourceCode {
	border: 2px dotted #55AA55;
	background: #EEFFEE;
}

.sourceCodeTextArea {
    font-size:1.2em;
	color: black;
	border: 2px dotted #55AA55;
	font-weight: bold;
	background: #EEEEFF;
	padding: 5px;
}

table.facetDescriptors {
	font-size: 0.7em;
}

table.facetDescriptors .odd {
	background: #F0F0F0;
}

table.facetDescriptors .even {
	background: #E0E0E0;
}

.results-for-class {
    background-color: #E9F6E9;
    border: 1px dotted #A9E6A9;
    margin-bottom: 5px;
}

.results-for-class h1 {
    margin-top: 0px;
    font-size: 0.9em;
    background-color: #AADDAA;
    cursor: pointer;
}

table.search-results {
	font-size: 0.9em;
    padding-left: 10px;
    padding-bottom: 5px;
}

table.search-results .odd {
	background: #F0FFF0;
}

table.search-results .even {
	background: #E9F6E9;
}
