<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!-- 
	A Spring Context for WebFacets using Acegi authentication. 
	See also applicationContext-acegi-security.xml
-->

<beans>

	<!--                               -->
	<!--    Acegi-enabled ProfileRepository    -->
	<!--                               -->
	<import resource="applicationContext-acegi-security.xml"/>
	<bean id="profileRepository" scope="singleton"
			class="net.sourceforge.jfacets.acegi.AcegiProfileRepository">
		<property name="userDetailsService"><ref bean="userDetailsService"/></property>
	</bean>

	<!--                                 -->
	<!--   Using annotated facets here   -->
	<!--                                 -->

	<bean id="facetDescriptorManager" scope="singleton"
			class="net.sourceforge.jfacets.annotations.AnnotatedFacetDescriptorManager"
			init-method="initialize">
		<constructor-arg index="0">
			<list>
				<value>net.sf.jfacets.acegi.example.facets</value>
			</list>
		</constructor-arg>				
	</bean>	

	<!--                                 -->
	<!-- Facet & Facet Context factories -->

	<bean id="facetFactory" scope="singleton"  
			class="net.sourceforge.jfacets.impl.DefaultFacetFactory">
	</bean>

	<bean id="facetContextFactory" scope="request"  
			class="net.sourceforge.jfacets.web.WebFacetContextFactory">
		<constructor-arg index="0"><ref bean="webObjectsHolder"/></constructor-arg>			
	</bean>
	
	<bean id="webObjectsHolder" scope="request" 
			class="net.sourceforge.jfacets.web.WebObjectsHolder"/>

	
	<!--                                    -->
	<!--          Facet Repository          -->
	<!--                                    -->
	<!-- No additional config is required   -->
	<!-- here.                              -->
	<!--                                    -->

	<bean id="facetRepository" scope="request"  
			class="net.sourceforge.jfacets.impl.FacetRepositoryImpl">
		<constructor-arg index="0"><ref bean="profileRepository"/></constructor-arg>
		<constructor-arg index="1"><ref bean="facetFactory"/></constructor-arg>
		<constructor-arg index="2"><ref bean="facetContextFactory"/></constructor-arg>
		<constructor-arg index="3"><ref bean="facetDescriptorManager"/></constructor-arg>
	</bean>	
	
	<!--                                            -->
	<!--   filter and  top-level WebFacets bean     -->
	<!--                                            -->
	<!-- No additional config is required           -->
	<!-- here.                                      -->
	<!--                                            -->
	
	<bean id="webFacetsFilterBean" scope="request" 
			class="net.sourceforge.jfacets.web.WebFacetsFilterBean">
		<constructor-arg index="0"><ref bean="webObjectsHolder"/></constructor-arg>
		<constructor-arg index="1"><ref bean="webFacets"/></constructor-arg>
	</bean>
	
	<bean id="webFacets" scope="request" class="net.sourceforge.jfacets.web.WebFacets" init-method="afterPropertiesSet">
		<property name="facetRepository"><ref bean="facetRepository"/></property>
	</bean>	
	
</beans>